In [32]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [33]:
df = pd.read_csv('IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [34]:
df.shape

(50000, 2)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [36]:
df.sentiment.replace({'positive':1,'negative':0},inplace=True)

In [37]:
df.sample(10)

                                                  review  sentiment
30126  Going into seeing this movie I was a bit skept...          1
44178  I am a fifth grade language arts teacher, and ...          0
25573  OK, it's not a perfect movie by any means but ...          1
29462  Let me start off by saying I am not a fan of h...          0
32770  i've discovered that this film gets rented bas...          0
22768  I can enjoy a guilty pleasure vigilante flick,...          0
45683  Right, where do I start? I cannot even imagine...          0
35654  Corben Bernsen directed horror film about a ch...          0
22221  Oh dear Gods, this is awful. Stay away, just s...          0
13308  Ordinarily, I love these "Stranger Within" thr...          0

In [72]:
df1 = df.iloc[:10000]
df2 = df.iloc[10000:20000]
df3 = df.iloc[20000:30000]
df4 = df.iloc[30000:40000]
df5 = df.iloc[40000:50000]
print(df1.shape,df2.shape,df3.shape,df4.shape,df5.shape)

(10000, 2) (10000, 2) (10000, 2) (10000, 2) (10000, 2)

In [68]:
df2

                                                  review  sentiment
10000  " While sporadically engrossing (including a f...          0
10001  A French novelist, disgusted by his wife's soc...          1
10002  It must be remembered that the Gammera movies,...          0
10003  I gave this film 8 out of 10, reserving 10 for...          1
10004  Cheap, gloriously bad cheese from the 80's, th...          0
...                                                  ...        ...
19995  ok. for starters, taxi driver is amazing. this...          0
19996  It's sort of hard for me to say it, because I ...          0
19997  I still liked it though. Warren Beatty is only...          1
19998  We could still use Black Adder even today. Ima...          1
19999  This so-called "documentary" tries to tell tha...          0

[10000 rows x 2 columns]

In [39]:
# One Review
df.review[0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

# Text Cleaning
- Removal Html tag
- Remove Special Characters
- Converting everything into lower case
- Removing stopwords
- Stemming/Lemmatiztion

In [40]:
import re
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [41]:
# Function to remove html tags

def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [42]:
# Converting everthing to lower

#x = 'aT'
#print(x.casefold())

def convert_lower(text):
    return text.lower()

In [43]:
# Function to special characters

def remove_special(text):
    x = ''
    
    for i in text:
        if i.isalnum():
            x += i
        else:
            x += ' '
    return x

In [44]:
# remove stopwords
import nltk
from nltk.corpus import stopwords

In [45]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nihar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [46]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [47]:
len(stopwords.words('english'))

179

In [48]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear()
    return y

#df.review = df.review.apply(remove_stopwords)
#df

In [49]:
# or
#def remove_stopwords(text):
  #  text_output= [word for word in text if word not in stopwords.words('english')]
 #   return text_output

In [50]:
# perform stemming/ lemmatization

from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

def stemmers(text_tokens):
    text= [PorterStemmer().stem(word) for word in text_tokens]
    return text

def lemmatizers(text_tokens):
    text= [WordNetLemmatizer().lemmatize(word) for word in text_tokens]
    return text

In [ ]:
def stemmer(text):
    x = []
    for i in text.split():
            x.append(PorterStemmer().stem(i))
    y = x[:]
    x.clear()
    return y

#df.review = df.review.apply(remove_stopwords)
#df

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
df1.review = df1.review.apply(clean_html)
df1.review = df1.review.apply(convert_lower)
df1.review = df1.review.apply(remove_special)
df1.review = df1.review.apply(remove_stopwords)
df1.review = df1.review.apply(stemmer)
df1.review = df1.review.apply(lambda x: " ".join(x))
cv = CountVectorizer(max_features=500)
X1 = cv.fit_transform(df1['review']).toarray()
X1.shape

(10000, 500)

In [76]:
y = df.iloc[:10000,-1]

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=42)

In [81]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [82]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

In [83]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [84]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)
y_pred3 = clf3.predict(X_test)

In [85]:
from sklearn.metrics import accuracy_score

print(f'GaussianNB : {accuracy_score(y_test,y_pred1)}')
print(f'MultinomialNB : {accuracy_score(y_test,y_pred2)}')
print(f'BernoulliNB : {accuracy_score(y_test,y_pred3)}')

GaussianNB : 0.7905
MultinomialNB : 0.8195
BernoulliNB : 0.8145