In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
data.drop(columns=['day'],inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

# problem 1:
- Outlook: Sunny,Temp=Hot, Humidity=High, Wind = Weak
- Play or No Play?

# Solution:

- P(Y|S,H,H,W) = P(S|Y) * P(H|Y) * P(H|Y) * P(W|Y) * P(Y)

- P(N|S,H,H,W) = P(S|N) * P(H|N) * P(H|N) * P(W|N) * P(N)

- Compare and decide using the Maximum a Posteriori rule

In [6]:
#P(Y)
#P(N)

In [7]:
data.play.value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [8]:
data.play.value_counts(normalize=True)

Yes    0.642857
No     0.357143
Name: play, dtype: float64

In [9]:
py = 9/14
pn = 5/14

In [10]:
# Outlook:

pd.crosstab(data.outlook,data.play)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [16]:
POvercastn = 0
PRainn = 2/5
PSunnyn = 3/5

POvercasty = 4/9
PRainy = 3/9
PSunnyy = 2/9

In [12]:
# temp

pd.crosstab(data.temp,data.play)

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [17]:
PCooln = 1/5
PHotn = 2/5
PMildn = 2/5

PCooly = 3/9
PHoty = 2/9
PMildy = 4/9

In [14]:
# humidity

pd.crosstab(data.humidity,data.play)

play      No  Yes
humidity
High       4    3
Normal     1    6

In [18]:
PHighn = 4/5
PNormaln = 1/5

PHighy = 3/9
PNormaly = 6/9

In [19]:
# wind

pd.crosstab(data.wind,data.play)

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [20]:
PStrongn = 3/5
PWeakn = 2/5

PStrongy = 3/9
PWeaky = 6/9

In [21]:
# Outlook: Sunny,Temp=Hot, Humidity=High, Wind = Weak
#P(Y|S,H,H,W) = P(S|Y) * P(H|Y) * P(H|Y) * P(W|Y) * P(Y)
#P(N|S,H,H,W) = P(S|N) * P(H|N) * P(H|N) * P(W|N) * P(N)


Pyes = py * PSunnyy * PHoty * PHighy * PWeaky
Pno = pn * PSunnyn * PHotn * PHighn * PWeakn

In [24]:
print(Pyes)
print(Pno)

0.007054673721340388
0.02742857142857143

- Prediction : NO Play

In [25]:
# OR

PY = Pyes/(Pyes+Pno)
PN = Pno/(Pyes+Pno)

print(PY)
print(PN)

0.20458265139116202
0.7954173486088381